<mat-dialog-content>
  <div fxLayout="column" class="form">
    <h2>Esqueci minha senha</h2>
    <p>Informe seu CPF para identificação e enviaremos um email de recuperação da senha.</p>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>CPF</mat-label>
      <input mask="000.000.000-00" matInput [formControl]="cpf" type="text"
        placeholder="Digite o seu CPF.">
        <mat-error>
          <app-form-error [control]="cpf"></app-form-error>
        </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" class="form">
    <button [disabled]="cpf.invalid" class="dark-green-btn" mat-button mat-flat-button>ENVIAR EMAIL</button>
    <p mat-dialog-close class="text-btn-underline">Cancelar</p>
  </div>
</mat-dialog-content>