<h2>O que <span class="bold">aconteceu?</span></h2>
<form
  fxLayout="column"
  fxLayoutGap="8px"
  fxLayoutGap.xs="8px"
  fxLayoutGap.lt-xl="8px"
  [formGroup]="claimInfoFormGroup"
>
  <div
    fxLayout="row"
    fxLayoutGap="8px"
    fxLayout.xs="column"
    fxLayoutGap.xs="8px"
    fxLayoutGap.lt-xl="8px"
  >
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Data</mat-label>
      <input
        matInput
        required
        mask="00/00/0000"
        [readonly]="filledMode"
        placeholder="DD/MM/AAAA"
        formControlName="dataSinistro"
        [dropSpecialCharacters]="false"
      >
      <mat-icon matSuffix mat-icon-button>
        event
      </mat-icon>
      <mat-error>
        <app-form-error [control]="claimInfoFormGroup.get('dataSinistro')"></app-form-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Hora</mat-label>
      <input
        matInput
        required
        mask="00:00"
        placeholder="00:00"
        [readonly]="filledMode"
        formControlName="horaSinistro"
        [dropSpecialCharacters]="false"
      >
      <mat-icon matSuffix mat-icon-button>
        schedule
      </mat-icon>
      <mat-error>
        <app-form-error [control]="claimInfoFormGroup.get('horaSinistro')"></app-form-error>
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>O que aconteceu?</mat-label>
    <textarea
      matInput
      cols="10"
      rows="5"
      required
      [readonly]="filledMode"
      formControlName="descricaoSinistro"
      placeholder="Nos conte o que aconteceu"
    ></textarea>
    <mat-error>
      <app-form-error [control]="claimInfoFormGroup.get('descricaoSinistro')"></app-form-error>
    </mat-error>
  </mat-form-field>
</form>
<div fxLayout="row" fxLayoutAlign="end center">
  <button matStepperPrevious mat-flat-button class="text-btn">
    <mat-icon>arrow_back</mat-icon>
    VOLTAR
  </button>
  <button [disabled]="claimInfoFormGroup.invalid" matStepperNext mat-flat-button class="text-btn">
    PRÓXIMO
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>