<h2>Quem era <span class="bold">responsável pelo carro?</span></h2>
<p class="grey-txt">Informe quem era a pessoa responsável pelo carro no momento do sinistro.</p>
<mat-radio-group
  fxLayout="column"
  fxLayoutGap="24px"
  fxLayoutGap.lt-xl="24px"
  fxLayoutGap.xs="24px"
  [(ngModel)]="responsavel"
  [disabled]="filledMode"
>
  <mat-radio-button
    disableRipple
    [value]="selectedContract?.cliente"
  >
    <div>
      {{ selectedContract?.cliente.nome }}
    </div>
    <div>
      CPF: <span class="bold">{{ selectedContract?.cliente.cpf }}</span>
    </div>
  </mat-radio-button>
  <mat-radio-button disableRipple value="0" #newResp>
    <div>
      <mat-expansion-panel [disabled]="filledMode" [expanded]="!filledMode && newResp.checked" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="green-txt bold">
            Outro
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form
          fxLayout="column"
          fxLayoutGap="8px"
          fxLayoutGap.xs="8px"
          fxLayoutGap.lt-xl="8px"
        >
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text"
              placeholder="Nome">
              <!-- <mat-error>
                <app-form-error [control]="loginForm.get('cpf')"></app-form-error>
              </mat-error> -->
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>CPF (opcional)</mat-label>
            <input mask="000.000.000-00" matInput type="text"
              placeholder="CPF">
              <!-- <mat-error>
                <app-form-error [control]="loginForm.get('cpf')"></app-form-error>
              </mat-error> -->
          </mat-form-field>
        </form>
      </mat-expansion-panel>

    </div>
  </mat-radio-button>
</mat-radio-group>
<div fxLayout="row" fxLayoutAlign="end center">
  <button matStepperPrevious mat-flat-button class="text-btn">
    <mat-icon>arrow_back</mat-icon>
    VOLTAR
  </button>
  <button matStepperNext mat-flat-button class="text-btn">
    PRÓXIMO
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>