
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: black !important;
  }
  mat-form-field {
     .mat-error, input, .mat-form-field-label {
        color: black !important;
        caret-color: black !important;
     }
  }
}